Este codigo le um arquivo, calcula os dados calcula o que foi pedido e grava um novo arquivo com as informações que foram calculadas.

Algumas anotações que aprendi fazendo esse codigo:

*   sheet_name: pode ser usado o nome da aba ou o indice
*   para salvar em excel:
dataframe.to_excel('./nome do arquivo.xlsx')

In [ ]:
import pandas as pd

# from openpyxl import Workbook
# from openpyxl.utils.dataframe import dataframe_to_rows

dadosMacae = pd.read_excel("Dados_climaticos_historicos.xlsx", sheet_name="Historico_Clima_Macae")#, skiprows=(3),nrows=7
dadosRJ = pd.read_excel("Dados_climaticos_historicos.xlsx", sheet_name="Historico_Clima_Rio_de_Janeiro")#, skiprows=(3)


display(dadosMacae)

somaMacaeTMedia =0
somaMacaeTMinima =0
somaMacaeTMaxima =0

somaRJTMedia =0
somaRJMinima =0
somaRJMaxima =0

VmesMaiorTempMacae =0
VmesMenorTempMacae =99

VmesMaiorTempRJ =0
VmesMenorTempRJ =99

VmesMaisChuvosoMacae = 0
VmesMaisChuvosoRJ =0
VmesMenosChuvosoMacae = 999
VmesMenosChuvosoRJ = 999

acumuloChuvaAnualMacae =0
acumuloChuvaAnualRJ =0

umidadeMacae=0
umidadeRJ=0
for i in range(1,13):
  somaMacaeTMedia+=float(dadosMacae.loc[3,f'Unnamed: {i}'])
  somaMacaeTMinima+=float(dadosMacae.loc[4,f'Unnamed: {i}'])
  somaMacaeTMaxima+=float(dadosMacae.loc[5,f'Unnamed: {i}'])

  somaRJTMedia+=float(dadosRJ.loc[3,f'Unnamed: {i}'])
  somaRJMinima+=float(dadosRJ.loc[4,f'Unnamed: {i}'])
  somaRJMaxima+=float(dadosRJ.loc[5,f'Unnamed: {i}'])

  acumuloChuvaAnualMacae+=float(dadosMacae.loc[6,f'Unnamed: {i}'])
  acumuloChuvaAnualRJ+=float(dadosRJ.loc[6,f'Unnamed: {i}'])

  umidadeMacae+=float(dadosMacae.loc[7,f'Unnamed: {i}'])

############################ Macae #############################################
  if VmesMaiorTempMacae < float(dadosMacae.loc[5,f'Unnamed: {i}']):
    VmesMaiorTempMacae = float(dadosMacae.loc[5,f'Unnamed: {i}'])
    mesMaiorTempMacae = dadosMacae.loc[2,f'Unnamed: {i}']

  if VmesMenorTempMacae > float(dadosMacae.loc[3,f'Unnamed: {i}']):
    VmesMenorTempMacae = float(dadosMacae.loc[3,f'Unnamed: {i}'])
    mesMenorTempMacae = dadosMacae.loc[2,f'Unnamed: {i}']

  if VmesMaisChuvosoMacae < float(dadosMacae.loc[6,f'Unnamed: {i}']):
    VmesMaisChuvosoMacae = float(dadosMacae.loc[6,f'Unnamed: {i}'])
    mesMaisChuvosoMacae = dadosMacae.loc[2,f'Unnamed: {i}']

  if VmesMenosChuvosoMacae > float(dadosMacae.loc[6,f'Unnamed: {i}']):
    VmesMenosChuvosoMacae = float(dadosMacae.loc[6,f'Unnamed: {i}'])
    mesMenosChuvosoMacae = dadosMacae.loc[2,f'Unnamed: {i}']

################################ RJ ############################################
  if VmesMaiorTempRJ < float(dadosRJ.loc[5,f'Unnamed: {i}']):
    VmesMaiorTempRJ = float(dadosRJ.loc[5,f'Unnamed: {i}'])
    mesMaiorTempRJ = dadosRJ.loc[2,f'Unnamed: {i}']

  if VmesMenorTempRJ > float(dadosRJ.loc[3,f'Unnamed: {i}']):
    VmesMenorTempRJ = float(dadosRJ.loc[3,f'Unnamed: {i}'])
    mesMenorTempRJ = dadosRJ.loc[2,f'Unnamed: {i}']

  if VmesMaisChuvosoRJ < float(dadosRJ.loc[6,f'Unnamed: {i}']):
    VmesMaisChuvosoRJ = float(dadosRJ.loc[6,f'Unnamed: {i}'])
    mesMaisChuvosoRJ = dadosRJ.loc[2,f'Unnamed: {i}']

  if VmesMenosChuvosoRJ > float(dadosRJ.loc[6,f'Unnamed: {i}']):
    VmesMenosChuvosoRJ = float(dadosRJ.loc[6,f'Unnamed: {i}'])
    mesMenosChuvosoRJ = dadosRJ.loc[2,f'Unnamed: {i}']

  umidadeRJ+=float(dadosMacae.loc[7,f'Unnamed: {i}'])

################################################################################



mediaTMediaMacae= somaMacaeTMedia/12
mediaTMinimaMacae= somaMacaeTMinima/12
mediaTMaximaMacae= somaMacaeTMaxima/12

mediaTMediaRJ = somaRJTMedia/12
mediaTMinimaRJ = somaRJMinima/12
mediaTMaximaRJ = somaRJMaxima/12

print("Macaé")
print(mediaTMediaMacae)
print(mediaTMinimaMacae)
print(mediaTMaximaMacae)

print("RJ")
print(mediaTMediaRJ)
print(mediaTMinimaRJ)
print(mediaTMaximaRJ)

print()

print("Macaé")
print("Mes maior temperatura:")
print(mesMaiorTempMacae)
print("Mes menor temperatura:")
print(mesMenorTempMacae)
print("Mes Mais chuvoso:")
print(mesMaisChuvosoMacae)
print("Mes Menos chuvoso:")
print(mesMenosChuvosoMacae)
print(f"Acumulo de chuva:{acumuloChuvaAnualMacae}")

print()

print("RJ")
print("Mes maior temperatura:")
print(mesMaiorTempRJ)
print("Mes menor temperatura:")
print(mesMenorTempRJ)
print("Mes Mais chuvoso:")
print(mesMaisChuvosoRJ)
print("Mes Menos chuvoso:")
print(mesMenosChuvosoRJ)
print(f"Acumulo de chuva:{acumuloChuvaAnualRJ}")

print()

if umidadeRJ > umidadeMacae:
  print("Rio de janeiro é mais umido")
else:
  print("Macaé é mais umido")

dadosMacae.loc[3,'Unnamed: 13'] = round(mediaTMediaMacae,2)
dadosMacae.loc[4,'Unnamed: 13'] = round(mediaTMinimaMacae,2)
dadosMacae.loc[5,'Unnamed: 13'] = round(mediaTMaximaMacae,2)
dadosMacae.loc[6,'Unnamed: 13'] = round(acumuloChuvaAnualMacae)

dadosRJ.loc[3,'Unnamed: 13'] = round(mediaTMediaRJ,2)
dadosRJ.loc[4,'Unnamed: 13'] = round(mediaTMinimaRJ,2)
dadosRJ.loc[5,'Unnamed: 13'] = round(mediaTMaximaRJ,2)
dadosRJ.loc[6,'Unnamed: 13'] = round(acumuloChuvaAnualRJ)



display(dadosMacae)
display(dadosRJ)

# dadosJuntos = Workbook()
# wt1 = dadosJuntos.create_sheet(title='Historico_Clima_Macae')
# for r in dataframe_to_rows(dadosMacae):
#   wt1.append(r)

# wt2 = dadosJuntos.create_sheet(title='Historico_Clima_Rio_de_Janeiro')
# for r in dataframe_to_rows(dadosRJ):
#   wt2.append(r)

# dadosJuntos.save('Dados_climaticos_historicos_Atualizado.xlsx')

dadosMacae.to_excel('Dados_climaticos_historicos_Macae.xlsx', index=False)
dadosRJ.to_excel('Dados_climaticos_historicos_RJ.xlsx', index=False)

,DADOS CLIMATOLÓGICOS PARA MACAÉ - HISTÓRICO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Referência: https://pt.climate-data.org/americ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mes,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
3,Temperatura média (°C),25.8,26,25.5,24.1,22,21.2,20.7,21,21.8,22.9,23.5,24.9
4,Temperatura mínima (°C),23.5,23.6,23.3,21.9,19.6,18.5,17.9,18.3,19.2,20.5,21.4,22.7
5,Temperatura máxima (°C),29.1,29.5,28.5,27.1,25,24.5,24.2,24.7,25.5,26.4,26.5,28
6,Chuva (mm),175,105,154,85,60,31,32,32,66,98,186,198
7,Umidade(%),0.81,0.81,0.83,0.82,0.8,0.81,0.79,0.78,0.77,0.79,0.82,0.83
8,Dias chuvosos (d),11,9,12,10,8,5,5,5,7,9,13,13
9,Horas de sol (h),9.4,9.6,8.4,7.7,7.2,7.1,7.0,7.0,6.9,7.0,7.1,8.2
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Obs.: 1) Histórico 1991 - 2021: Temperatura mí...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Macaé
23.28333333333333
20.866666666666667
26.58333333333333
RJ
23.616666666666664
19.95
28.350000000000005

Macaé
Mes maior temperatura:
Fevereiro
Mes menor temperatura:
Julho
Mes Mais chuvoso:
Dezembro
Mes Menos chuvoso:
Junho
Acumulo de chuva:1222.0

RJ
Mes maior temperatura:
Fevereiro
Mes menor temperatura:
Julho
Mes Mais chuvoso:
Janeiro
Mes Menos chuvoso:
Agosto
Acumulo de chuva:1252.0

Macaé é mais umido

,DADOS CLIMATOLÓGICOS PARA MACAÉ - HISTÓRICO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Referência: https://pt.climate-data.org/americ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mes,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro,NaN
3,Temperatura média (°C),25.8,26,25.5,24.1,22,21.2,20.7,21,21.8,22.9,23.5,24.9,23.28
4,Temperatura mínima (°C),23.5,23.6,23.3,21.9,19.6,18.5,17.9,18.3,19.2,20.5,21.4,22.7,20.87
5,Temperatura máxima (°C),29.1,29.5,28.5,27.1,25,24.5,24.2,24.7,25.5,26.4,26.5,28,26.58
6,Chuva (mm),175,105,154,85,60,31,32,32,66,98,186,198,1222.00
7,Umidade(%),0.81,0.81,0.83,0.82,0.8,0.81,0.79,0.78,0.77,0.79,0.82,0.83,NaN
8,Dias chuvosos (d),11,9,12,10,8,5,5,5,7,9,13,13,NaN
9,Horas de sol (h),9.4,9.6,8.4,7.7,7.2,7.1,7.0,7.0,6.9,7.0,7.1,8.2,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Obs.: 1) Histórico 1991 - 2021: Temperatura mí...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,DADOS CLIMATOLÓGICOS PARA RIO DE JANEIRO (CAPITAL DO ESTADO RJ) - HISTÓRICO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Referência: https://pt.climate-data.org/americ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mes,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro,NaN
3,Temperatura média (°C),26.7,27,25.9,24.3,21.8,20.8,20.1,20.9,22.2,23.7,24.2,25.8,23.62
4,Temperatura mínima (°C),23.3,23.3,22.7,21.1,18.2,16.8,16,16.5,18.1,20,21,22.4,19.95
5,Temperatura máxima (°C),31.2,31.7,30.2,28.5,26.2,25.8,25.4,26.5,27.5,28.6,28.5,30.1,28.35
6,Chuva (mm),172,117,153,99,81,52,55,45,81,98,143,156,1252.00
7,Umidade(%),0.79,0.78,0.81,0.81,0.81,0.8,0.79,0.76,0.75,0.76,0.8,0.8,NaN
8,Dias chuvosos (d),12,10,12,10,9,6,6,6,8,9,12,12,NaN
9,Horas de sol (h),9.8,10.0,8.8,7.9,7.2,7.0,6.9,7.3,7.2,7.4,7.7,8.8,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Obs.: 1) Histórico 1991 - 2021: Temperatura mí...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN